body {
  font-family: sans-serif;
}
h1 {
  text-align: center;
}

.row {
  margin: 0px;
}

.col {
  text-align: center;
  font-size: 30px;
  font: Helvetica;
  width: 60px;
  height: 60px;
  padding: 6px;
  border: 1px solid black;
}

#progressbar {
  height: 25px;
  background-color: rgb(187, 24, 24);
}

#insidebar {
  background-color: green;
  height: 25px;
  border: 1px solid black;
  width: 0%;
  text-align: center;
}
